{
  "presets": [
    "@babel/typescript",
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}